@font-face {
  font-family: "BMYEONSUNG";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_one@1.0/BMYEONSUNG.woff")
    format("woff");
  font-weight: normal;
  font-style: normal;
}

.container p {
  font-size: 5vw;
}
.container span {
  color: #f2a2c0;
  font-size: 8vw;
}

.container {
  padding-top: 20%;
  color: white;
}
.winnerMainDiv {
  padding-top: 5%;
  display: flex;
  justify-content: center;
}
.winnerDiv {
  width: 25%;
  height: 100px;
  min-width: 120px;
  min-height: 120px;
  border-style: solid;
  border-width: 1px;
  border-color: white;
  display: inline-block;
  border-radius: 50%;
}
.winnerPhotoFram {
  width: 25%;
  height: 100px;
  min-width: 120px;
  min-height: 120px;
  border-radius: 50%;
}
.winnerServeBlankDiv {
  padding-top: 5%;
  display: flex;
  justify-content: center;
}
.winnerBlankDiv {
  min-width: 50px;
  min-height: 50px;

  border-style: none;
  display: inline-block;
}
.vs {
  align-self: center;
  margin: 4%;
}
.blank {
  align-self: center;
  margin: 6%;
}
h1 {
  vertical-align: middle;
}
.mainDiv {
  margin: 0 auto;
  width: 100%;
  max-width: 800px;
  min-width: 350px;
  min-height: 1000px;
  height: 100%;
  background: #73c6d9;
}
.mainResultDiv {
  padding-top: 20%;
}

.resultScoreDiv {
  margin-top: 5%;
}

.resultScoreDiv h3 span {
  color: #f2a2c0;
}
body {
  text-align: center;
  font-family: "BMYEONSUNG";
  letter-spacing: 5px;

  color: white;
  height: 100%;
}

/* photo.css */

.custom-file {
  min-width: 250px;
  width: 45%;
}

.photoDiv {
  width: 45%;
  height: 65%;
  min-width: 250px;
  max-width: 90%;
  max-height: 90%;
  min-height: 250px;
  border-style: solid;
  border-width: 3px;
  border-color: white;
  margin: 0 auto;
  margin-top: 5%;
}
.noPhotoDiv {
  width: 45%;
  height: 65%;
  min-width: 250px;
  min-height: 250px;
  border-style: none;
  margin: 0 auto;
}
.nonPhotoFram {
  display: none;
}
.photoFram {
  width: 45%;
  height: 65%;
  max-width: 90%;
  max-height: 90%;
  min-width: 250px;
  min-height: 250px;
}
.descriptDiv {
  width: 45%;
  height: 65%;
  max-width: 90%;
  max-height: 90%;
  min-width: 250px;
  min-height: 250px;
}
.nonDescriptDiv {
  display: none;
}

.fileUploadBtn {
  margin-top: 250px;
  justify-content: center;
}

.how-btn {
  padding: 0px 20px;
  background-color: #222222;
  border-radius: 25px;
  color: #fff;
}
.how-btn:hover {
  background-color: #f2a2c0;
  color: white;
}

button {
  display: inline-block;
  height: 61px;
  position: relative;
  font-size: 20px;
  cursor: pointer;
  padding: 0.8em 1em;
  border: 3px solid #333;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0 1px 3px rgba(black, 0.2);
  margin: 10px;
  transform: translate3d(0, 0, 0);
}

.btnDiv {
  margin-top: 10%;
}

.detailBox {
  width: 100%;
  height: 65%;
  min-width: 250px;
  max-width: 90%;
  max-height: 90%;
  min-height: 200px;

  margin: 0 auto;
  margin-top: 5%;
  display: grid;
  grid-template-columns: 1fr 2fr;
}

.imgBox {
  width: 30%;
  height: 50%;
  min-width: 100px;
  max-width: 90%;
  min-height: 200px;
  max-height: 90%;

  border-width: 2px;
  border-color: white;
}

.textBox {
  text-align: left;
  margin: 5%;
}

.detailPhoto {
  width: 30%;
  height: 50%;
  min-width: 100%;
  align-self: center;
  min-height: 50%;
}

.WinnerWhoDiv {
  padding-top: 5%;
}
