.how-btn::before {
  content: "";
  display: block;
  position: absolute;
  z-index: -1;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: #fb2e57;
  background: -webkit-linear-gradient(top, #f65342, #fb3282);
  background: -o-linear-gradient(top, #f65342, #fb3282);
  background: -moz-linear-gradient(top, #f65342, #fb3282);
  background: linear-gradient(top, #f65342, #fb3282);
  -webkit-transition: all 0.4s;
  -o-transition: all 0.4s;
  -moz-transition: all 0.4s;
  transition: all 0.4s;
  opacity: 0;
}

.how-btn:hover {
  background-color: transparent;
}

.how-btn:hover:before {
  opacity: 1;
}

.buttonDiv {
  margin-top: 20px;
}
